html  
  head
    title= test
  body
    ul
  li= message[0].id
  li= message[0].occupation
  li= message[0].address.street
  li= message[0].address.city
  li= message[0].address.Country
  <br/>
ul
  li= message[1].id
  li= message[1].occupation
  li= message[1].address.street
  li= message[1].address.city
  li= message[1].address.Country
  <br/>
  ul
  li= message[2].id
  li= message[2].occupation
  li= message[2].address.street
  li= message[2].address.city
  li= message[2].address.Country
  <br/>
   ul
  li= message[3].id
  li= message[3].occupation
  li= message[3].address.street
  li= message[3].address.city
  li= message[3].address.Country
  <br/>
  ul
   ul
  li= message[4].id
  li= message[4].occupation
  li= message[4].address.street
  li= message[4].address.city
  li= message[4].address.Country